/* navbar-padding-x: #{if($navbar-padding-x == null, 0, $navbar-padding-x)};
/* navbar-padding-y: #{$navbar-padding-y}; */
navbar-color: #{$navbar-light-color};
/* navbar-hover-color: #{$navbar-light-hover-color};
navbar-disabled-color: #{$navbar-light-disabled-color};
navbar-active-color: #{$navbar-light-active-color};
navbar-brand-padding-y: #{$navbar-brand-padding-y};
navbar-brand-margin-end: #{$navbar-brand-margin-end};
navbar-brand-font-size: #{$navbar-brand-font-size};
navbar-brand-color: #{$navbar-light-brand-color};
navbar-brand-hover-color: #{$navbar-light-brand-hover-color};
navbar-nav-link-padding-x: #{$navbar-nav-link-padding-x};
navbar-toggler-padding-y: #{$navbar-toggler-padding-y};
navbar-toggler-padding-x: #{$navbar-toggler-padding-x};
navbar-toggler-font-size: #{$navbar-toggler-font-size};
navbar-toggler-icon-bg: #{escape-svg($navbar-light-toggler-icon-bg)};
navbar-toggler-border-color: #{$navbar-light-toggler-border-color};
navbar-toggler-border-radius: #{$navbar-toggler-border-radius};
navbar-toggler-focus-width: #{$navbar-toggler-focus-width};
navbar-toggler-transition: #{$navbar-toggler-transition}; */